<div>News about: 
<% Category::CATEGORY_INFO.each do |category, details| %>
  <a href="/?category=<%= category %>"><%= details[:title] %></a>
  &nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
</div>

<div class="page-header">
  <h1><%= @title %> News</h1>
</div>

<% @week.each do |day_display, category_posts| %>
  <h3><%= day_display %></h3>
  <ol>
    <% category_posts.each do |cp| %>
      <% li_class = (cp.points >= 0 ? 'post_box' : 'post_box_grey') %>
      <li class="<%= li_class %>">
        <a href="/url_redirect?cp_id=<%= cp.id %>" target="_blank"><%= cp.post.title %></a>
        <span class="domain">(<%= cp.post.host %>)</span>
        <div class="info_line">
          <a href="/vote_up?cp_id=<%= cp.id %>">Vote Up</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/vote_down?cp_id=<%= cp.id %>">Vote Down</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= cp.votes_up %> Votes Up
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= cp.votes_down %> Votes Down
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= cp.points %> Points
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= cp.clicks %> Clicks
          &nbsp;&nbsp;&nbsp;&nbsp;
          Submitted <%= distance_of_time_in_words(cp.post.created_at, Time.now) %> ago
        </div>
      </li>
    <% end %>
  </ol>
<% end %>
